.App {
  text-align: center;
}
#Loading {
  margin: auto !important;
  color: #6e5a9a;
  line-height: 100vh;
  width: 100%;
  text-align: center;
}
.ModalHeader {
  background-color: #6e5a9a;
  border-bottom: none !important;
}
.close {
  background-color: #fff;
}